.container {
	height: 960px;
}

body {
 background-color: grey;
}

.jumbotron {
	height: 130px;
	font-size: 60px;
	text-align: center;
	vertical-align: center;
}

.submitButton {
	font-size: 30px;
	text-align: center;
	margin-top: 20px;
	margin-right: 98px;
	margin-left: 100px;
	margin-bottom: 20px;

}

.imgPlace {
	background-color: white;
	height: 900px;
	margin-right: 100px;
	margin-left: 100px;
	margin-top: 20px;
}

#buttonList {
	text-align: center;
}