body {
	background-image: url("../images/background.jpg");
 	opacity: .9;
}

.jumbotron {
	height: 130px;
	font-size: 60px;
	text-align: center;
	vertical-align: center;
}

.submitButton {
	font-size: 30px;
	text-align: center;
	margin-top: 20px;
	margin-right: 98px;
	margin-left: 100px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	color: blue;
}

.imgPlace {
	background-color: white;
	height: 400px;
	width: 1000px;
	margin-left: auto ;
  	margin-right: auto ;
	margin-top: 20px;
}

#buttonList {
	text-align: center;
}

.polButton {
	margin-left: 5px;
	margin-right: 5px;
}